.container {
  margin-top: 5em;
}

.back {
  position: absolute;
  z-index: 2;
  font-weight: 700;
  display: flex;
  margin-left: 3em;
  margin-top: 2em;
}

.back span {
  margin: auto;
  margin-left: 0.1em;
  font-size: 1.5em;
}

.back span button {
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: #ffffff;
  transition: 300ms;
}

.back span button:hover {
  color: #4d7bf1;
}

.back img {
  cursor: pointer;
}

.regForm {
  background-color: #4d7bf1;
  color: #ffffff;
  margin: 2em;
  padding: 3em;
  border-radius: 1rem;
}

.regForm p {
  align-self: center;
}

.p1 {
  font-size: 13px;
}

.p2 {
  font-style: italic;
  font-size: 15px;
  margin-top: 1em;
}

.regButton {
  width: 18rem;
  background-color: #002176;
  justify-self: center;
  margin-top: 1em;
}
